@{
    ViewData["Title"] = "Projects";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h2>Mandatory Hello World!</h2>

<iframe src="//giphy.com/embed/JIX9t2j0ZTN9S" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/JIX9t2j0ZTN9S">via GIPHY</a></p>

<p>Use this area to provide additional information.</p>
